* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.home-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background-color: white;
}

.home-link {
    text-decoration: none;
    color: black;
    font-size: 1.2 rem;
    text-transform: lowercase;
}

.home-content {
    flex-grow: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.home-right {
    display: flex;
    gap: 8px; 
}