.main-container {
    display: flex;
    max-width:400px;
    margin: 10px;
    flex-wrap: nowrap;
}

.categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    margin: 2rem 0;
}

.category-item {
    display: inline-block;
    margin-right: 10px;
}

.category-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    border: 0;
    border-radius: 50%;
    background-color: white; /* Change this color as needed */
    padding: 5px;
}

.category-label {
    font-size: 15px;
    margin-top: 0;
}